*{
    color: #101317;
}

html{
    scroll-behavior: smooth;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4{
    font-family: Lemonada;
}
.bigAsf{
    font-size: 60px;
}
img{
    width: 300px;
    border: 4px double #b2f07f;
    border-radius: 20px;
}
p{
    font-family: Mada;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('assets/bannerPic.png');
    background-position: center;
    flex-wrap: wrap;
}
.navText{
    margin: 100px;
    font-family: Lemonada;
    color: white;
    font-weight: bolder;
}
a:hover{
    color: #7FB2f0;
    transition: 0.3s ease-in-out;
}
#pokedexImage{
    background: url("assets/pokedexThumbnail.png");
    width: 300px;
    height: 225px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
#pokedexImage:hover{
    background: linear-gradient(to right, rgba(127, 178, 240, 0.5), rgba(127, 178, 240, 0.5)), url("assets/pokedexThumbnail.png");
    width: 300px;
    height: 225px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
#fallFinalMRLImage{
    background: url("assets/fallFinalThumbnail.png");
    width: 300px;
    height: 225px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
#fallFinalMRLImage:hover{
    background: linear-gradient(to right, rgba(127, 178, 240, 0.5), rgba(127, 178, 240, 0.5)), url("assets/fallFinalThumbnail.png");
    width: 300px;
    height: 225px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
#travelCityImage{
    background: url("assets/travelCityThumbnail.png");
    width: 300px;
    height: 225px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
#travelCityImage:hover{
    background: linear-gradient(to right, rgba(127, 178, 240, 0.5), rgba(127, 178, 240, 0.5)), url("assets/travelCityThumbnail.png");
    width: 300px;
    height: 225px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
#logo{
    width: 100px;
    margin: 5px;
    height: 100px;
    margin-right: 200px;
    background-color: white;
    border: 1px solid #b2f07f;
    border-radius: 100px;
}
#aboutMeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#contactContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 90%;
}
.contactCard{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#formContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    background-color: #c2d8f8;
    border: 4px double #b2f07f;
    border-radius: 20px;
    padding: 20px;
    
}
#projectContainer{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #c2d8f8;
    margin: 20px;
    width: 300px;
    border: 4px double #7FB2f0;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

ul{
    list-style-type: "☁️"; 
    font-family: Mada;
}

li{
    margin: 5px;
}
.styledHeader{
    background-color: #7FB2f0;
    color: white;
    padding: 20px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    font-family: Lemonada;
}

.projectCard{
    background-color: #c2d8f8;
    margin: 20px;
    border: 4px double #7FB2f0;
    border-radius: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.socialLogo{
    width: 20px;
}
.socialLinks{
    display: flex;
    align-items: center;
    font-family: Mada;
    background-color: #7FB2f0;
    color: white;
    padding: 5px;
    border: 4px double #b2f07f;
    border-radius: 20px;
    width: 20%;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    min-width: 100px;
}

input, textarea{
    border: 4px double #7FB2f0;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: Mada;
    background-color:white;
}
label {
    font-family: Lemonada;
    display: flex;
    flex-wrap: wrap;
}

textarea{
    width: 90%;
}

.fadein img {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    margin-top: 80px;
    margin-bottom: 20px;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    background-color: lightblue;
    -webkit-animation-delay: -1s;
}
#f2 {
    zwebkit-animation-delay: -2s;
    background-color: yellow;
}
#f3 {
    -webkit-animation-delay: -3s;
    background-color: lightgreen;
}
#f4{
    background-color: lightblue;
    -webkit-animation-delay: -4s;
}

.fadeImgSizing {
    width: 300px;
    height: 395px;
}